# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
.venv/
venv/

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Editor/OS
.vscode/
.idea/
.DS_Store
*~

# Runtime data
data/imports/*
data/exports/*
data/database/*

# Keep folders
!data/imports/.gitkeep
!data/exports/.gitkeep
!data/database/.gitkeep
